<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Request</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <%- include ('./partials/header') %>

    </head>
    <style>
    
    </style>
    <body>
        <div class="blur" style="display: none; z-index: 1001"></div>
        <div class="popup">
            <div class="close-onbox" onClick="closePopup()">
                <div style="width: 15px; height: 15px;">
                    <img src="<%= baseurl() %>images/icon/cross-thick.png">
                </div>
            </div>
            <form action="<%= baseurl() %>request/delete" method="POST">
                <table class="popupContent" cellspacing="10" cellpadding="10">
                    <tr>
                        <td style="text-align: left;">Delete</td>
                    </tr>
                    <tr>
                        <td>Apakah anda yakin ingin menghapus request ini ?<input type="hidden" name="reqID" class="req_id"></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="myBtn myButton-edit" onclick="closePopup()">Cancel</button>
                            <button type="submit" class="myBtn myButton-delete">Delete</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="popupBtn">
                <a href="" class="myButton-gradBlueGreen size-std"></a>
                <a href="" class="myButton-white size-std"></a>
            </div>
        </div>
        <div class="wrapper" ng-app="myApp" ng-controller="PageCtrl">
            <div class="lSide">
                <%- include ('./partials/sidebar') %>
            </div>
            <div class="rSide">
                <div class="head gradientr">
                </div>
                <div class="mainbox column">
                    <div class="containt cols-12">
                        <div class="headtitle trans">
                            <p class="size-head4 nopad">Request Issues</p>
                            <ul class="tab-image-setting nopad">
                                <li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="deliveryrecent"></li>
                                <li>
                                    <a href="<%= baseurl() %>request/create">
                                        <img src="<%= baseurl() %>images/icon/plus.png" class="btn-tab-toggle delay">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-control">
                            <div class="list-control-box">
                                <button class="option-click btn-list-control" onClick="clickToggle(list_control_show)">
                                    Show :&nbsp; 25 
                                    <img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
                                </button>
                                <div class="option-box option-menu shadow half box-list-control" id="list_control_show">
                                    <ul class="full-length nopad size-std">
                                        <li class="pad-tb" ng-click="limitList(1)">20</li>
                                        <li class="pad-tb" ng-click="limitList(2)">50</li>
                                        <li class="pad-tb" ng-click="limitList(3)">100</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-control-box">
                                <button class="option-click btn-list-control" onClick="clickToggle(list_control_sort)">
                                    Sory By :&nbsp; Request ID
                                    <img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
                                </button>
                                <div class="option-box option-menu shadow half box-list-control" id="list_control_sort">
                                    <ul style="width: 100%;" class="nopad size-std">
                                        <li ng-click="sort('duedate')">Due Date</li>
                                        <li ng-click="sort('status')">Status</li>
                                        <li ng-click="sort('name')">Assignee</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-control-box" style="float: right;">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="" class="right-icon">
                                                <input type="search">
                                                <img src="<%= baseurl() %>images/icon/search1.png" alt="">
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="full-length" style="overflow-x: auto; padding-bottom: 40px; width: 100%;">
                            <table class="size-std full-tables" id="req_tab" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th style="text-align: left;" ng-click="sort('id')">Request ID</th>
                                    <th style="text-align: left;" ng-click="sort('subject')">Subject Request</th>
                                    <th style="text-align: left;">Assignee</th>
                                    <th ng-click="sort('duedate')">Due date</th>
                                    <th ng-click="sort('status')">Status</th>
                                    <th>Action</th>
                                </tr>
                                <tr dir-paginate="req in issues | orderBy:sortKey:reverse | filter: search | itemsPerPage:limitList">
                                    <td><a href="<%= baseurl() %>request/detail/{{req.id}}">{{req.id}}</a></td>
                                    <td>{{req.subject}}</td>
                                    <td>{{req.name}}</td>
                                    <td style="text-align: center;">{{req.duedate}}</td>
                                    <td style="text-align: center;">{{req.status}}</td>
                                    <td style="text-align: center;">
                                        <a href="<%= baseurl() %>request/edit/{{req.id}}" class="myBtn myButton-edit">Edit</a>
                                        <a href="javascript:void(0);" class="myBtn myButton-delete delete" data-id="{{req.del}}">Delete</a>
                                    </td>
                                </tr>
                            </table>
                            <!-- <pagination page="currentPage" max-size="maxSize" total-items="totalItems" items-per-page="entryLimit" data-boundary-links="true" direction-links="true"></pagination> -->
                            <dir-pagination-controls max-size="2" direction-links="true"boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<%- include ('./partials/footer') %>
<script type="text/javascript">
$(document).ready(function(){
    $("#req_tab").on('click','.delete',function(){
        var id_req = $(this).data("id");
        $('.popup').show();
        $('.blur').show();
        $('.req_id').val(id_req);
    })
})
</script>
<script type="text/javascript">
    // var jsoon = <%- JSON.stringify(objs) %>
    // var app = angular.module('myApp', []);
    // app.controller('myCtrl', function($scope){
    //     $scope.issue = jsoon
    //     $scope.orderByMe = function(x){
    //         $scope.myOrderBy = x;
    //     }
    //     $scope.limitList = function(i){
    //         $scope.limit = i
    //     }
    // })
    // var jsoon = <%- JSON.stringify(objs) %>
    var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
    app.controller('PageCtrl',function ($scope, $http) {
        var jsoon = <%- JSON.stringify(objs) %>
        $scope.issues = jsoon;
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse
        }
    })
</script>
</html>