<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Request</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <%- include ('./partials/header') %>
    </head>
    <body>
        <div class="blur" style="display: none; z-index: 1001"></div>
        <div class="popup">
            <div class="close-onbox" onClick="closePopup()">
                <div style="width: 15px; height: 15px;">
                    <img src="<%= baseurl() %>images/icon/cross-thick.png">
                </div>
            </div>
            <form action="/delete" method="POST">
                <table class="popupContent" cellspacing="10" cellpadding="10">
                    <tr>
                        <td style="text-align: left;">Delete</td>
                    </tr>
                    <tr>
                        <td>Apakah anda yakin ingin menghapus request ini ?<input type="hidden" name="id" class="req_id"></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="myBtn myButton-edit" onclick="closePopup()">Cancel</button>
                            <button type="submit" class="myBtn myButton-delete">Delete</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="popupBtn">
                <a href="" class="myButton-gradBlueGreen size-std"></a>
                <a href="" class="myButton-white size-std"></a>
            </div>
        </div>
        <div class="wrapper" ng-app="myApp" ng-controller="PageCtrl">
            <div class="lSide">
                <%- include ('./partials/sidebar') %>
            </div>
            <div class="rSide">
                <div class="head gradientr"></div>
                <div class="mainbox column">
                    <div class="cols-12 containt">
                        <div class="headtitle trans">
                            <p class="size-head4 nopad">User List</p>
                        </div>
                        <div class="list-control">
                            <div class="list-control-box">
                                <button class="option-click btn-list-control" onClick="clickToggle(list_control_show)">
                                    Show :&nbsp; 25 
                                    <img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
                                </button>
                                <div class="option-box option-menu shadow half box-list-control" id="list_control_show">
                                    <ul class="full-length nopad">
                                        <li class="pad-tb" ng-click="limitList(1)">20</li>
                                        <li class="pad-tb" ng-click="limitList(2)">50</li>
                                        <li class="pad-tb" ng-click="limitList(3)">100</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-control-box">
                                <button class="option-click btn-list-control" onClick="clickToggle(list_control_sort)">
                                    Group By :&nbsp; <span id="GroupControl" class="text-control">-Not Selected-</span>
                                    <img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
                                </button>
                                <div class="option-box option-menu shadow half box-list-control" id="list_control_sort">
                                    <ul style="width: 100%;" class="nopad value-control">
                                        <li data-select="Email" ng-click="sort('email')">Email</li>
                                        <li data-select="Nama" ng-click="sort('nama')">Nama</li>
                                        <li data-select="Department" ng-click="sort('dept')">Department</li>
                                    </ul>
                                </div>
                                <input type="search" ng-model="search">
                            </div>
                        </div>
                        <table class="full-tables size-std" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th ng-click="sort('email')" align="left">Email</th>
                                    <th ng-click="sort('nama')" align="left">Nama</th>
                                    <th ng-click="sort('dept')">Departemen</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr dir-paginate="req in issues | orderBy:sortKey:reverse | filter: search | itemsPerPage:10">
                                        <td>{{req.email}}</td>
                                        <td>{{req.nama}}</td>
                                        <td align="center">{{req.dept}}</td>
                                        <td align="center">
                                            <a href="<%= baseurl() %>user/edit/{{req.id_employee}}" class="myBtn myButton-edit">Edit</a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="2" direction-links="true"boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include ('./partials/footer') %>
</html>
<script>
    var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
    app.controller('PageCtrl',function ($scope, $http) {
        var jsoon = <%- JSON.stringify(obj) %>
        $scope.issues = jsoon;
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse
        }
    })
</script>